SUPABASE_URL=https://xxxxx.co
SUPABASE_DB_HOST='xxxxx'
SUPABASE_DB_USER='xxxxx'
SUPABASE_PUBLISHABLE_KEY='xxxxx'
SUPABASE_SECRET_KEY='xxxxx'
SUPABASE_ANON_KEY='xxxxx'
SUPABASE_SERVICE_ROLES='xxxxx'
SUPABASE_DB_PASSWORD='xxxxx'
AIRFLOW_PASSWORD='xxxxx'
SUPABASE_DB_URL=postgresql://postgres.xxxxx:${SUPABASE_DB_PASSWORD}@aws-1-ap-northeast-2.pooler.supabase.com:xxxx/postgres


